[submodule "signalflow-ai-search"]
	path = signalflow-ai-search
	url = git@10.20.3.67:zhongjinlin/ai_search_tools.git
[submodule "generate-seedance-video"]
	path = generate-seedance-video
	url = git@it-gitlab.xmfunny.com:zhongjinlin/generate-seedance-video.git
